@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-light: #aacbe5;
    --secondary-light: #c7f0f2;
    --accent-light: #e2e8f0;
    --text-light: #1a202c;
    --background-light: #ffffff;

    --primary-dark: #1e3f68;
    --secondary-dark: #0f2b4c;
    --accent-dark: #3d4852;
    --text-dark: #fcf7f7;
    --background-dark: #1e2938;

    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --accent: var(--accent-light);
    --text: var(--text-light);
    --background: var(--background-light);
}

/* Apply dark theme variables when dark mode is active */
.dark {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --accent: var(--accent-dark);
    --text: var(--text-dark);
    --background: var(--background-dark);
}